
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  /*body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    background-image: url(fun-facts-bg.png);
    background-size:  100px;
    transform:rotate(10der);
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .back-img{
    background-image: url(upstream2.webp);
    width: 1200px;
    height: 110vh;
    background-size: cover;
    transform: rotate(-80deg);
   position: relative;
   right: 270px;
   bottom: 40px;
  }
  */
  body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background-image: url(log.png); 
  }
  .wrapper{
    position: relative;
    width: 370px;
    height: 100vh;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*.wrapper{
    position: relative;
    right: 100px;
    width: 450px;
    height: 100vh;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }*/
  .wrapper .from-box-logIn{
   position: absolute;
   top: 0px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   right: 150px;
  }
  .from-box-logIn h2{
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
  }
  .from-box-logIn h2::after{
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    background-color: #238fe7;
    margin-left: 150px;
    margin-top: 10px;
    
  }
  .from-box-logIn .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
    display: flex;
    
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(180, 179, 179);
  }
  .input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(168, 168, 168);
    pointer-events: none;
    padding-left: 5px;
  }
  .input-box input:focus~label,
  .input-box input:valid~label{
    top: 2px;
    color: #238fe7;
  }
  
  .from-box-logIn i{
    position: relative;
    bottom: -45PX;
    left: 0px;
    transform: translateY(-50%);
    color:rgb(180, 179, 179);
  }
  .from-box-logIn :focus~i{
    color: #238fe7;
  }
  .enter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .Password-forget-link{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .Password-forget a{
    text-decoration: none;
    color: rgb(8, 211, 211);
    text-align: center;
    
  }
  .Password-forget a:hover{
    color: gray;
  }
  .butt{
    position: relative;
    width: 60%;
    height: 35px;
    background: #238fe7;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    transition: all 0.3s ;
  }
  .butt:hover{
    background-color:rgb(44, 44, 207) ;
    cursor: pointer;
    box-shadow: 5px 5px 10px #818181f3;
    letter-spacing: 2px;
  }
  .change{
    margin-top: 20px;
    margin-left: 64px;
  }
  .change-link{
    text-decoration: none;
    color:rgb(8, 211, 211) ;
    font-weight: bolder;
  }
  .change-link:hover{
    color: rgb(44, 44, 207);
  }
  .back{
    text-align: center;
    margin: 10px 0;
    color: rgb(68, 65, 65);
  }
