/* import poppines fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Black Ops One', system-ui;
font-family: 'Inter', sans-serif;
font-family: 'Lakki Reddy', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif; */


  /* logo font from google lakki reddy */
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lakki+Reddy&family=PT+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Black Ops One', system-ui;
font-family: 'Inter', sans-serif;
font-family: 'Lakki Reddy', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif; */

/*drt klh bl poppins bach n9dr nt7km fih kima 7ayb (b3d knfd nbdlo fihm kima 7aybin)*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
width: 100%;
height: 100vh;
background-color: white;
overflow: hidden;
display: flex;
flex-direction: column;


}/*#45A20B*/
.🟢{
border-radius: 50%;
 width:1176px;  
 height: 1176px;
 background-color: #A4FF6B;
 position: absolute;
display: flex;
justify-content: center;
overflow: hidden;
align-items: center;
 top:-180px;
 left: 350px;
 transform: translate(70px,-500px);
 z-index: -1;
 transition: all 0.5s ease-in-out;

}
    
    

/*  the headers codes  */
header{
    width: 100%;
    height: 20vh;
    padding-left: 50px;
    padding-right: 50px;
}
nav{
width: 100%;
height: 100%;
display: flex;
align-items: center;
}
nav .logo{
    width: 30%;
}
nav .links{
    width: 70%;
}
nav .links ul{
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-evenly;
}
nav .links ul li a {
    text-decoration: none;
    color: black;
    
    font-size: 18px;
    font-weight: 600; 
    padding: 5px;
    transition: all 0.2s;
}


nav .links ul li a:hover{
border: solid 2px black;
border-radius: 10px;
}
nav .links ul li .Order-btn{
    width: 169px;
    height: 52.1px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 700;
color: white;
background-color: #45A20B;

border: none;
}
/*  the main codes */
main{
width: 100%;
height: 80vh;
display: flex;
gap: 10%;
justify-content: center;
}
main .texts{
  
    margin-top: 200px;
    width: 100%;
    flex-direction: column;
    gap: 10px; 
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    
}
main .texts h1{
    font-size: 60px;
    color: #a4ff6b;
    transition: all 0.5s;
    font-weight: 700;
    font-style: italic;
}
main .texts h2{
    font-size: 30px;
    align-self: start;
    font-weight: 500;
    
}
main .texts p {
    font-weight: 600;
}
main .texts div{
    height: fit-content;
    width: fit-content;
    align-self: center;
    position: relative;
    top: 50px;
}
main .texts .order-btn2 {
    width: 169px;
    height: 52.1px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 800;
color: white;
background-color: #45a20b;
border: none;
}
/*  images codes */
main .images-container{
    width: 40%;
    height: 100%;
    order: 1;
}
main .images-container .image01{
    height: 293px;
    width: 293px;
    background-color: black;
    position: relative;
    top: 210px;
    left: 55px;
}
/* the button of next and back codes */
/*8yrt chwya hna bach maykonch nfc lcolor t3 lbig circle*/
button {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #45a20b;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }

  
  button:hover {
    transform: scale(1.1);
    background-color: hsl(97, 87%, 40%);

  }
  
  button:active {
    background-color: #55dd00;
  }
  
/*5dmt b icons 5ir  /* the position of the buttons */

/*akram start here*/
.imges{
width: 10px;
height: 10px;
background-color: #fff;

}
.images-circle{
    background:url(upstream2.webp);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    transform:translate(268px ,200px);
    

}
.order-btn2{
font-weight: 500;
}

.nandb{
    position: relative;
    top:200px;
    height: 400px;
    left: 65px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.imagediv{
    height: 300px;
    width: 300px;
    
    transition: all 0.5s;
}

.imagediv2{
    height: 300px;
    width: 300px;
    position: absolute;
    transition: all 0.5s;
    z-index: -1;
}
.bigimg{
    align-items: center;
    display: flex;
    justify-content: center;
}
.VR{
    height: 520px;
    width: 520px;

    position: absolute;
    bottom: -290px;
    border: 2px white;
    border-style: dashed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    
    

}
.pic1{
    
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
}
.pic2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 50px;
}
.pic3{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 50px;
}
.pic4{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    right: -50px;
}
.pic5{
    
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: -50px;
}

nav .links ul li #h:hover{
    border: none;
    
    }
    